@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');


  * {
    box-sizing: border-box; 
  }
  body {
    background: #222;
    background-size: cover;
    margin: 0;
   
  }

 
  #welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  header {
    z-index: 4;
    padding-bottom: 21px;
    width: 100%;
    text-align: center;
    color: white;
    transition: .4.1s;
    position: fixed;
    
  }
  header:hover {
    background: rgba(255,255,255,0.8);
    color: #000000;
    transition-timing-function: ease-in-out;
    transition-delay: 0.05s;
    transition-duration: 0.4s;
  }
  header h1 {
    
    font-family: 'Pacifico', cursive;
    text-align: center;
    letter-spacing: .5rem;
    font-size: 2rem;
    width: 100%;
    
  }
  nav a {
    text-decoration: none;
    color: inherit;
  }

  .navig {
    
    padding-left: 8vw;
  }

  nav i {
    float: right;
    margin-right: 3vw;
  }

  .loginBut {
    float: right;
    margin-right: 10px;
  }


  
  /* ---------------------------------------------------------------------------------------------------- */

  /* Login and Register Forms */

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 40px;
    height: 100%;
    width: 70%;
    overflow: auto;
    margin-left: 15%;
    margin-top: 15vh;
    justify-content: center;
    align-items: center;
    
   
  }

  .modal h1 {
    color: white;
  }
  .registerForm ,.loginForm {
    background-color: #222;
    border: 1px solid white;
    padding: 50px;
    border-radius: 40px;
  }
  
  .registerForm .loginForm, label {
    width: 100%;
  }

  .registerForm .loginForm, input[type='text']{
    text-align: center;
    width: 100%;
    display: inline-block;
    margin: 5px;

  }

  .registerForm .loginForm, input[type='password']{
    width: 100%;
    text-align: center;
    margin: 5px;
    
  }

  .registerForm .loginForm ,label {
    margin-left: 0;
  }

  .registerForm .loginForm, p {
    color: white;
  }

  .showInfo {
    border: 1px solid white;
    border-radius: 30px;
    max-width: 300px;
    position: relative;
    top: 20vh;
    left: 40%;
    right: 40%;
    color: white;
    padding: 60px;
    margin-bottom: 40px;
  }
  
/* ------------------------------------------------------------------------------------------------------------ */
/* listing  */




.listing_block {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  margin-left: 50px;
  margin-right: 50px;
}




.modal {
    
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 40px;
    height: 100%;
    width: 70%;
    overflow: auto;
    margin-left: 15%;
    margin-top: 15vh;
    justify-content: center;
    align-items: center;
    
    
}
.registerForm ,.loginForm , .listingForm {
    background-color: #222;
    border: 1px solid white;
    padding: 50px;
    border-radius: 40px;
}


.listingForm input[type='text']{
        width: 100%;
        
}
      
.listingForm input[type='number']{
        text-align: center;
}
      
.listingForm label {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 30px;
}

#AddListingForm {
    margin-left: 250px;
    margin-right: 250px;
    top: 30vh;
    
    position: relative;
    
} 
      
#AddListingForm h1 {
    color: white;
}

#AddListingForm label {
    color: white;
}