<!-- //==============================================
// Name:           Reza Poursafa
// Student Number: 140640194
// Email:          rpoursafa@myseneca.ca
// Section:        NEE
// Date:           11/10/2020
//==============================================
// Assignment:       1
//============================================== -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YourB&B</title>
    <link rel="stylesheet" href="firstlisting.css">
    <script src="https://kit.fontawesome.com/8023ce706a.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>YOURB&B</h1>
      <nav>
          <a href="/" class="navig">Home</a>
          <a href="/listing" class="navig">Room Listings</a>
          <a href="#" onclick="document.getElementById('theModalForm').style.display='block'" class="navig">User Registration</a>
          <a href="#" class="loginBut" onclick="document.getElementById('theLoginForm').style.display='block'">Login</a>
          <i class="fas fa-shopping-cart"></i>
        
      </nav>
    </header>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- owner image and info -->


    <div class="owner">

        <img src="images/XzA3MDU5ODcuanBn.jpg" alt="">
        <p>Nate River</p>
        
        <p>This deluxe house is perfect for families and groups to enjoy their time away from the city. It has a beautiful view of lake 
            Ontario.Each side has it's own private entrance. I have cleaners sanitize everything after every booking, So you don't need to worry
        about COVID19.</p>
        
    </div>

    <div class="house_img">
        <img src="images/listing7.jpg" alt="">
    </div>

<!-- ---------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- The Amenity Features -->

    <div class="features">

        <h1>Amenities</h1>
        <i class="fas fa-wifi">&#9; Free Wifi</i><br>
        <i class="fas fa-parking">&#9;Free Parking</i><br>
        <i class="fas fa-hamburger">&#9;Barbeque</i><br>
        <i class="fas fa-bath">&#9;BathTub</i><br>
        <i class="fas fa-swimming-pool">&#9;Swimming Pool</i><br>
        <i class="fas fa-fire-alt">&#9;Indoor Fireplace</i>
    </div>
    

<!-- ---------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- Listing Images -->

    <ul>
        <div class="first_row">
            <li><img src="images/listing1.jpg" alt=""></li>
            <li><img src="images/listing2.jpg" alt=""></li>
            <li><img src="images/listing3.jpg" alt=""></li>
        </div>
        <div class="second_row">

            <li><img src="images/listing4.jpg" alt=""></li>
            <li><img src="images/listing5.jpg" alt=""></li>
            <li><img src="images/listing6.jpg" alt=""></li>
            
        </div>
    </ul>

<!-- ---------------------------------------------------------------------------------------------------------------------------------------------- -->
<!-- Booking Form -->
    <p class="but"><button onclick="document.getElementById('theBookNowForm').style.display='block';">Book Now!</button></p>
    <h2 class="promo"><button >Get 50% Off!</button></h2>

    <!-- ---------------------------------------------------------------------------------------------------- -->
   
    <!-- Book Now Form -->

    <div class="modal" id="theBookNowForm">
        <form action="/s">
           <div class="BookNowForm">
               <span class="closing" onclick="document.getElementById('theBookNowForm').style.display='none';">&otimes;</span>
               <h1>Please Enter Your Information Below</h1>
   
               <label for="username">Full Name</label>
               <input type="text" placeholder="Enter Your Full Name" name="username">

               <label for="mail">Email</label>
               <input type="email" placeholder="Enter Your Email Address" name="mail">
   
               <label for="checkInDate">Check In</label>
               <input type="date" name="checkInDate" placeholder="dd-mm-yyyy" value="">
            
               <label for="checkOutDate">Check Out</label>
               <input type="date" name="checkOutDate" placeholder="dd-mm-yyyy" value="">
   
               <button class="booknowBut" type="button" style="margin: 10px;" onclick="document.getElementById('confirm').style.display = 'block';
               document.getElementById('theBookNowForm').style.display='none';">Book Now!</button>
   
   
           </div>
       </form>
    </div>


    <!-- ---------------------------------------------------------------------------------------------------- -->
   
    <!-- Confirm Message -->

    <div class="modal" id="confirm">
        <span class="closing" onclick="document.getElementById('confirm').style.display='none';">&otimes;</span>
        <h1>Booking Complete!</h1>
        <p> Thank you for your reservation. You will receive an email with your booking information. <br>
            Please keep in mind that in respect to Ontario's gathering restriction policy, bookings of more than 10 guests
            are not available at this time. For more information, you can visit <a href="https://www.canada.ca/en/public-health/services/diseases/coronavirus-disease-covid-19.html">the government of canada's</a> 
            website. <br>
            Enjoy Your Stay!</p>
    </div>


    
    <!-- ---------------------------------------------------------------------------------------------------- -->
   
    <!-- User Registration -->

    <!-- User Registration -->
        
        <div class="modal" id="theModalForm">
            <form action="/test-form-process" method="POST" enctype="multipart/form-data">
                
                <div class="registerForm">
                    <span class="closing" onclick="document.getElementById('theModalForm').style.display='none';">&otimes;</span>
                    <h1>Sign Up</h1>
                    
            <label for="email">Email</label>
            <input type="text" placeholder="Enter Your Email Address" name="email" id="email" required>
            
            <label for="fname">First Name</label>
            <input type="text" placeholder="Enter Your First Name" name="fname" id="fname" required>
            
            <label for="lname">Last Name</label>
            <input type="text" placeholder="Enter Your Last Name" name="lname" id="lname" required>
            
            
            <label for="password">Password</label>
            <input type="password" placeholder="Enter Your Password" name="password" id="psw" minlength="8" required>
            
            <h3 id="ermsg" style="display: none;">Password must be more than 8 characters</h3>
            
            
            <label for="birthday">Birthday</label>
            <p>To sign up, you need to be at least 18. Other people who use Yourbnb won't see your birthday.</p>

            <input type="date" name="birthday" required>
            
            <br><label for="photo" style="margin-top: 10px;">Profile Image</label>
            <input type="file" name="photo" style="width: 100%; margin: 10px 0 10px 0;">
            
            <p>We'll send you marketing promotions, special offers, inspiration, and policy updates via email</p>
            
            
            <input type="submit">
        </div>
    </form>
</div>
 <!-- ---------------------------------------------------------------------------------------------------- -->

 <!-- Login Form -->

 <div class="modal" id="theLoginForm">
     <form action="/s">
        <div class="loginForm">
            <span class="closing" onclick="document.getElementById('theLoginForm').style.display='none';">&otimes;</span>
            <h1>Login</h1>

            <label for="username">Username</label>
            <input type="text" placeholder="Enter Your Username" name="username" required>
            
            <label for="passw">Password</label>
            <input type="password" placeholder="Enter Your Password" name="passw" required>
            
            <!-- <button type="button" style="margin: 10px;">Login</button> -->
            <input type="submit" style="margin: 10px;" value="Login">
            
        </div>
    </form>
</div>   


<!---------------------------------------------------------------------------- -->

<!-- Footer -->

<div class="footer">
    <div class="footer_class">

        <div class="footer_img">
            
            <img src="images/Free_Sample_By_Wix.jpg" alt="">
        </div>
    
        <div class="footer_columns">
            <h1>Policies</h1>
            <a href=""> Terms &amp; Conditions</a>
            <a href=""> Privacy Policy</a>
        </div>
        
        <div class="footer_columns">
            <h1>Links</h1>
            <a href="">Room Listings</a>
            <a href="">Join Us!</a>
        </div>
        
        <div class="footer_columns">
            <h1>Follow Us</h1>
            <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </li>
        </div>
  </div>
</div>


</body>
</html>