/* //==============================================
// Name:           Reza Poursafa
// Student Number: 140640194
// Email:          rpoursafa@myseneca.ca
// Section:        NEE
// Date:           11/10/2020
//==============================================
// Assignment:       1
//==============================================  */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Pacifico&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #222;
  background-size: cover;
  
}

header {
  z-index: 4;
  padding-bottom: 21px;
  width: 100%;
  text-align: center;
  color: white;
  transition: .4.1s;
  position: fixed;
  
}
header:hover {
  background: rgba(255,255,255,0.8);
  color: #000000;
  transition-timing-function: ease-in-out;
  transition-delay: 0.05s;
  transition-duration: 0.4s;
}
header h1 {
  
  font-family: 'Pacifico', cursive;
  text-align: center;
  letter-spacing: .5rem;
  font-size: 2rem;
  width: 100%;
  
}
nav a {
  text-decoration: none;
  color: inherit;
}

.navig {
  
  padding-left: 8vw;
}

nav i {
  float: right;
  margin-right: 3vw;
}

.loginBut {
  float: right;
  margin-right: 10px;
  padding-bottom: 20px;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* AddBooking */

.addListing {
  margin: 25px;
  top: 26vh;
  position: relative;
  border: solid 2px white;
  width: 7%;
  height: 90px;
  border-radius: 100px;
}

.addListing:hover {
  opacity: 0.3;

}

.addListing i {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.addListing h1 {
  position: relative;
  left: 10vw;
  bottom: 10vh;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* Add Listing Form */

.listingForm input[type='text']{
  width: 100%;
  
}

.listingForm input[type='number']{
  text-align: center;
}

.listingForm label {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 30px;
}



/* ------------------------------------------------------------------------------------------------------------ */
/* Listings */


.card {

  flex-direction: column;
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 55px;
  text-align: center;
  font-family: arial;
  position: relative;
  top: 25vh;
  
}

.card h1 {
  color: white;
}

.card p {
  color: #ffffff;
}

.card a{
  text-decoration: none;
}
.price {
  color: grey;
  font-size: 22px;
}

.card button {
  position: absolute;
  right: 0;
  border: none;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  outline: 0;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.listing_block {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  margin-left: 50px;
  margin-right: 50px;
}


/* ----------------------------------------------------------------------------------------------- */








/* ----------------------------------------------------------------------------------------------- */
/* Search Form */

.searchForm {
  
  position: relative;
  top: 20vh;
  width: 95%;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 10px;
  padding-left: 35%;
  margin-left: 20px;
  
  
  
}

label {

width: 100%;
margin-left: 40px;
color: white;
}



/* .searchForm input[type='text'] {
  margin: 10px;
  width: 10%;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  min-width: 100px;
}

.searchForm input[type='number'] {
  margin: 10px;
  width: 10%;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  min-width: 100px;
  
}

.searchForm button[type='submit'] {
 
  background-color: #55d6aa;
  color: black;
  border-radius: 30px;
  height: 30px;
  width: 70px;

} */




/* ----------------------------------------------------------------------------------------------- */
/* register and login Forms */

.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
padding-top: 40px;
height: 100%;
width: 70%;
overflow: auto;
margin-left: 15%;
margin-top: 15vh;
justify-content: center;
align-items: center;


}
.registerForm ,.loginForm , .listingForm {
background-color: #222;
border: 1px solid white;
padding: 50px;
border-radius: 40px;
}

.registerForm .loginForm , label {
width: 100%;
margin-left: 0;
}

.registerForm .loginForm , input[type='text']{
text-align: center;
width: 100%;
display: inline-block;
margin: 5px;

}

.registerForm .loginForm , input[type='number']{
  text-align: center;
  width: 100%;
  display: inline-block;
  margin: 5px;
  
  }

.registerForm .loginForm , input[type='password']{
width: 100%;
text-align: center;
margin: 5px;

}



.registerForm .loginForm, p {
color: white;
}

.registerForm .loginForm, h1 {
color: white;
} 

.closing {
float: right;
color: white;
font-size: 20px;
}

.closing:hover {
cursor: pointer;
}

.loginBut {
float: right;
margin-right: 10px;
}



/* --------------------------------------------------------------------------------------------------- */
/* Footer */



.footer {
position: absolute;
/* top: 200vh; */
margin-top: 30vh;
left: 0;
width: 100%;
background-color: black;
color: white;
text-align: center;
}

.footer_class {
display: block;
margin: 0 auto;
width: 1000px;
height: 100%;
padding: 10px;
}

.footer_img {
margin-top: 15px;
margin-bottom: 15px;
width: 35%;
float: left;
height: 100%;
display: block;

}

.footer_img img {
border-radius: 100px;
height: 150px;
width: 150px;
}

.footer_class .footer_columns {
float: left;
margin-right: 10px;
height: 20%;
width: calc(20% - 20px);
}

.footer_class .footer_columns h1 {
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 22px;
display: block;
width: 100%;
margin-bottom: 20px;
color: white;
}

.footer_class .footer_columns a {
text-decoration: none;
width: 100%;
display: block;
margin-bottom: 20px;
font-weight: 20px;
padding-bottom: 5px;
font-size: 18px;
font-family: Georgia, 'Times New Roman', Times, serif;
color: white;
}

.footer_class .footer_columns li {
display: inline-block;
font-size: 20px;
padding: 0;
}

@media (max-width: 1000px){
.footer .footer_class {
  width: 100%;
  margin-bottom: 50px;
}
}

.footer_columns li {
margin: 20px;
}

/* -------------------------------------------------------------------- */


@media screen and (max-width: 1050px){

    .addListing {
        border-radius: 10px;
        height: 90px;
        width: 11%;
    }

    .addListing h1 {
        left: 12vw;
    }

    .searchForm{
        padding-left: 30px;
    }

    .searchForm label {
        width: 100%;
    }
    .searchForm input[type='text']{
        width: 96%;
    }
}

@media screen and (max-width: 1000px) {

    .footer {
      
      top: 450vh;
    }

    .footer .footer_class {
      width: 100%;
      margin-bottom: 50px;
    }

    .footer .footer_class a {
      font-size: 13px;
    }

    .footer .footer_class h1 {
      font-size: 18px;
      margin: 10px;
    }

    .footer_img img {
      width: 100px;
      height: 100px;
    }

    .footer_class .footer_columns li {
      margin: 0;
      padding: 5px;
    }
  }

  /* @media screen and (min-width: 400px) and (max-width: 450px){
    .footer {
      top: 320vh;
      
    }
  } */

  /* @media screen and (min-width: 350px) and (max-width: 400px){
    .footer {
      top: 340vh;
    }
  }

  @media screen and (min-width: 300px) and (max-width: 350px){
    .footer {
      top: 375vh;
    }
  } */

  @media screen and (max-height: 772px){
    .footer {
      top: 470vh;
    }
  }

  @media screen and (min-height: 690px) and (max-height: 772px){
    .footer {
      top: 500vh;
    }
  }

  @media screen and (min-height: 660px) and (max-height: 690px){
    .footer {
      top: 530vh;
    }
  }

  @media screen and (min-height: 610px) and (max-height: 660px){
    .footer {
      top: 560vh;
    }
  }

  @media screen and (min-height: 540px) and (max-height: 610px){
    .footer {
      top: 610vh;
    }
  }

  @media screen and (min-height: 560px) and (max-height: 610px){
    .footer {
      top: 610vh;
    }
  }

  @media screen and (min-height: 530px) and (max-height: 560px){
    .footer {
      top: 650vh;
    }
  }

  @media screen and (min-height: 420px) and (max-height: 530px){
    .footer {
      top: 700vh;
    }
  }

